.container{
    background: #efd77b;
    padding: 20px 0 1px;
}

.containerRes{
    background: #efd77b;
    padding: 20px 15px 1px;
}

.contentFirst{
    display: flex;
    /* text-align: center; */
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.contentFirstRes{
    display: flex;
    /* text-align: center; */
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.contentFirst p{
    cursor: pointer;
}

.contentFirstRes p{
    cursor: pointer;
    font-size: 14px;
}

.contentSecondRes{
    display: flex;
    justify-content: space-between;
}

.innerContentRes{
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.contentSecond{
    width: 15%;
    display: flex;
    /* justify-content: space-between; */
    margin: auto;
    justify-content: space-around;
}